<script src="~/js/FormValidator.js"></script>

<form form name="Contact" action="Home/Results" onsubmit="return validateForm()" method="get">
    <p><label>Nome:</label>      <input type="text" name="name" size="33"></p>
    <p><label>Telefone:</label>  <input type="text" name="phone" size="33"></p>
    <p><label>E-mail:</label>    <input type="text" name="email" size="33"></p>
    <p><label>Serviço:</label>   <select name="services">
    <option value="instalacao">Instalação de Ar-Condicionado</option>
    <option value="manutencao">Manutenção de Ar-Condicionado</option>
    <option value="vendas">Venda de Ar-Condicionado</option>
</select></p>
    <p><label>Mensagem:</label>  <textarea name="message" ROWS=5 COLS=36></textarea></p>
    <p><button name="solicitar contato" type="submit" class="btn btn-primary" style="align-content:center">Solicitar Contato</button></p>
</form>
