<script src="~/js/FormValidator.js"></script>

<form form name="Contact" action="Home/Results" onsubmit="return validateForm()" method="get">
    <p><label>Nome:</label>      <input type="text" name="name" size="33"></p>
    <p><label>Telefone:</label>  <input type="text" name="phone" size="33"></p>
    <p><label>E-mail:</label>    <input type="text" name="email" size="33"></p>
    <p><label>Mensagem:</label>  <textarea name="message" ROWS=5 COLS=35></textarea></p>

    <p><label><button name="solicitar contato" type="submit" class="btn btn-primary" style="align-content:center">Solicitar Contato</button></label></p>
</form>
