
<form action="Home/Results" method="get">
    <p><label>Nome:</label>      <input type="text" name="name"></p>
    <p><label>Sobrenome:</label> <input type="text" name="surname"></p>
    <p><label>Telefone:</label>  <input type="text" name="phone"></p>
    <p><label>E-mail:</label>    <input type="text" name="email"></p>
    <p><label>Mensagem:</label>  <input type="text" name="message"></p>
    <p><label><button name="solicitar contato" type="submit" class="btn btn-primary">Solicitar Contato</button></label></p>
</form>


<p><label><a href="~/Contatos.csv"><button name="download" type="submit" class="btn btn-primary">Download do arquivo</button></a></label></p>